.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.container {
  padding: 25px 25px 25px 25px
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 15px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: red;
  text-decoration: none;
  cursor: pointer;
}

.social{
  padding-bottom: 20px;
  .btn{
    width: 270px;
  }
}

.date_read{
  color:rgba(0,0,0,.54)!important;
  font-size: 0.8em;
}

.story-title{
  font-size: 1.3em;
  font-weight: 600;
}
.author{
  color:rgba(0,0,0,.54)!important;
}

.collection  {
  border: none;
  .collection-item{
    border-top: 0.5px solid rgba(224,224,224,0.8);
    border-bottom: none;
  }

  .collection-item:last-child {
    border-bottom: 0.5px solid rgba(224,224,224,0.8);
  }

  li{
    a{
      text-decoration: none;
      color:rgba(0,0,0,0.87);
    }
  }



}

.profile-image{
  max-width:300px;
  max-height:300px

}
.article-image{
  max-width: 500px;
  min-width: 700px;
  max-height: 500px;
  margin-left: 2%;

}