.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.container {
  padding: 25px 25px 25px 25px
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 15px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: red;
  text-decoration: none;
  cursor: pointer;
}

.social{
  padding-bottom: 20px;
  .btn{
    width: 270px;
  }
}

.date_read{
  color:rgba(0,0,0,.54)!important;
  font-size: 0.8em;
}

.story-title{
  font-size: 1.3em;
  font-weight: 600;
}
.author{
  color:rgba(0,0,0,.54)!important;
}

.collection {
  border: none;
  .collection-item {
    border-top: 0.5px solid rgba(224, 224, 224, 0.8);
    border-bottom: none;
  }

  .collection-item:last-child {
    border-bottom: 0.5px solid rgba(224, 224, 224, 0.8);
  }

  li {
    a {
      text-decoration: none;
      color: rgba(0, 0, 0, 0.87);
    }
  }
}


.comments-editor {
  margin-top: 5px;
  padding: 0 20px;
  -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, .03);
  box-shadow: 0 1px 4px rgba(0, 0, 0, .03);

  .comment-btn {
    margin-top: 0;
  }

  .comments-textarea{
    margin-top: 0;
    margin-bottom: 0;
  }
}

.custom-card{
  background: #fff;
  -webkit-box-shadow: 0 1px 4px rgba(0,0,0,.04);
  box-shadow: 0 1px 4px rgba(0,0,0,.04);
  border: 1px solid rgba(0,0,0,.09);
  -webkit-border-radius: 3px;
  border-radius: 3px;
}

.comments-card{

  .row {
    margin-left: 0;
    margin-bottom: 0;
  }
}

.edit-tools {
  margin-left: 2%;

  .link {
    width: 30px;
    height: 30px;
    margin: 2px;
  }
}

.profile-image{
  max-width:300px;
  max-height:300px

}
.article-image{
  max-width: 500px;
  min-width: 700px;
  max-height: 500px;
  margin-left: 2%;

}

.comments-photo{
  height: 50px !important;
  width: 50px !important;
}

.edit-elemements{
  margin-left: 5px;
  a{
    width: 30px;
    height: 30px;
  }
  i{
    margin-right: 0;
  }
}